.wrapper-selector{
    display: flex;
    justify-content: space-between;
}

.wrapper{
    width: 50%;
}

.tabel-agenti{
    background-color: lightgrey;
    border-radius: 10px;
    width: 30%;
    height: 50vh;
    margin-top: 10px;
}
.tabel-agenti-cell{
    display: flex;
    justify-content: space-between;
     border-bottom: 1px solid grey ;
     padding: 10px 20px;
}

.tabel-agenti-cell:hover{
    background-color: silver;
}

.selected-agents{
    display: flex;
    // justify-content: space-evenly;
    span{
        background-color: palegoldenrod;
        border-radius: 5px;
        padding:0.2em;
        border: 1px solid yellow;

        
    }




}